<h1>Notify me when ...</h1>
<form>
  <table>
    <tr>
      <td>
        <label style="display: inline-block;">Notify Price: </label>
        <select (change)="notifyAlert($event)" name="notifyMePrice" id="notifyMePrice">
          <option *ngFor="let price of prices" [ngValue]="price">${{ price }}</option>
          </select>
      </td>
    </tr>
    <tr>
      <td>
        <label style="display: inline-block;">Email: </label>
        <input type="email" name="email" (keyup)="onKey($event)"/>
      </td>
    </tr>
    <td>
      <tr>
        <button type="submit" (click)="notifyUserItem()">Submit</button>
      </tr>
    </td>
  </table>
</form>